@import "tailwindcss";

@theme {
  --color-cloud: #D9D9D9;
  --color-gold: #E7C765;
  --color-graphite: #4B4848;
  --mask-fade-inset-1: 90%;
  --mask-fade-inset-2: 85%;
  --mask-fade-inset-3: 80%;
  --mask-fade-inset-4: 75%;
  --mask-fade-inset-5: 70%;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cormorant: var(--font-cormorant);
}

@utility mask-fade-y {
  -webkit-mask-image: -webkit-linear-gradient(to bottom,
  transparent 0%,
  #000 20%,
  #000 80%,
  transparent 100%
  );

  mask-image: linear-gradient(to bottom,
  transparent 0%,
  #000 20%,
  #000 80%,
  transparent 100%
  );

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@utility mask-fade-bottom-*  {
  -webkit-mask-image: -webkit-linear-gradient(to bottom,
  #000 0%,
  #000 --value(--mask-fade-inset-*),
  transparent 100%
  );

  mask-image: linear-gradient(to bottom,
  #000 0%,
  #000 --value(--mask-fade-inset-*),
  transparent 100%
  );

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@utility mask-fade-top  {
  -webkit-mask-image: -webkit-linear-gradient(to bottom,
  #000 0%,
  #000 90%,
  transparent 100%
  );

  mask-image: linear-gradient(to bottom,
  transparent 0%,
  #000 10%,
  #000 100%,
  );

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@utility mask-fade-left {
  -webkit-mask-image: -webkit-linear-gradient(to left,
  #000 0%,
  transparent 100%
  );

  mask-image: linear-gradient(to left,
  #000 0%,
  transparent 100%
  );

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@utility fade-full {
    --fade: 40px;

    -webkit-mask-image: -webkit-linear-gradient(
            farthest-side,
            #000 calc(100% - var(--fade)),
            transparent 100%
    );
    mask-image: radial-gradient(
            farthest-side,
            #000 calc(100% - var(--fade)),
            transparent 100%
    );

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

  }

@utility fade-none {
  -webkit-mask-image: none;
  mask-image: none;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
