@import "tailwindcss";

@theme {
  --color-cloud: #D9D9D9;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cormorant: var(--font-cormorant);
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
