.oldFilm *,
.oldFilm *:before,
.oldFilm *:after {
    position: absolute;
}

.oldFilm {
    --filmbg: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease 0s;

}

.oldFilm:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}
.film,
.effect {
    width: 100%;
    height: 100%;
    filter: blur(0.45px) drop-shadow(0 0 0 #fff1);
}
.film:after,
.effect:after {
    content: '';
    display: block;
    width: 120%;
    height: 100%;
    top: 0;
    left: 0;
    padding-left: 100px;
    opacity: 0.5;
    animation: film-scratch 0.45s steps(1) infinite;
    background: repeating-linear-gradient(90deg, #0002 0 2px, transparent 4px 37%);
}
.effect:after {
    left: 30%;
    animation: effect-scratch 2s infinite;
}
.grain {
    width: 100%;
    height: 100%;
}
.grain:after {
    content: '';
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    opacity: .25;
    background-image: repeating-conic-gradient(var(--filmbg) 0%, transparent .00003%, transparent .0005%, transparent .00095%), repeating-conic-gradient(var(--filmbg) 0%, transparent .00005%, transparent 0.00015%, transparent 0.0009%);
    animation: grain 0.5s steps(1) infinite;
}
@keyframes grain {
    0%, 100% { transform: translate(0, 0); }
    10% { transform: translate(-1%, -1%); }
    20% { transform: translate(1%, 1%); }
    30% { transform: translate(-2%, -2%); }
    40% { transform: translate(3%, 3%); }
    50% { transform: translate(-3%, -3%); }
    60% { transform: translate(4%, 4%); }
    70% { transform: translate(-4%, -4%); }
    80% { transform: translate(2%, 2%); }
    90% { transform: translate(-3%, -3%); }
}
@keyframes film-scratch {
    0%, 100% { transform: translateX(0); opacity: 0.5; }
    10% { transform: translateX(-1%); }
    20% { transform: translateX(1%); }
    30% { transform: translateX(-2%); opacity: 0.75; }
    40% { transform: translateX(3%); }
    50% { transform: translateX(-3%); opacity: 0.5; }
    60% { transform: translateX(8%); }
    70% { transform: translateX(-3%); }
    80% { transform: translateX(10%); opacity: 0.25; }
    90% { transform: translateX(-2%); }
}
@keyframes effect-scratch {
    0% { transform: translateX(0); opacity: 0.75; }
    10% { transform: translateX(-1%); }
    20% { transform: translateX(1%); }
    30% { transform: translateX(-2%); }
    40% { transform: translateX(3%); }
    50% { transform: translateX(-3%); opacity: 0.5; }
    60% { transform: translateX(8%); }
    70% { transform: translateX(-3%); }
    80% { transform: translateX(10%); opacity: 0.25; }
    90% { transform: translateX(20%); }
    100% { transform: translateX(30%); }
}
.sepia {
    filter: sepia(0.68);
}
.invert .film {
    filter: invert(1)
}