.fadeY {
    -webkit-mask-image: -webkit-linear-gradient(to bottom,
    transparent 0%,
    #000 10%,
    #000 90%,
    transparent 100%
    );

    mask-image: linear-gradient(to bottom,
        transparent 0%,
        #000 10%,
        #000 90%,
        transparent 100%
    );

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}



